*.o
*~
*.uvopt
*.dep
*.bak
*.uvgui.*
.project
.settings
.cproject
obj/
patches/
startup_stm32f10x_md_gcc.s
/Backup of baseflight.CF3
/baseflight.CF3
/baseflight.IAB
/baseflight.IAD
/baseflight.IMB
/baseflight.IMD
/baseflight.PFI
/baseflight.PO
/baseflight.PR
/baseflight.PRI
/baseflight.PS
/baseflight.SearchResults
/baseflight.WK3
*.RCO
